body {
}
background-color:#cc66cc ; cor de fundo do site. Buscar cor na tabela postada no Classroom
h1 {color:#9900cc ; cor letras do título
}
p {
font-Size: 16px;
color:#cccccc ; cor letras paragráfos

