body {

background-color: #cc66cc ; }
h1 {color: #9900cc ;
}
p {
font-Size: 16px; 
color: #cccccc ; } 
header {
  borger-bottom: solid 3px #ca9c11 ;
  padding: 10px ;
  front-size: 22px ;
  color: white ; 
}
  




